<section class="contacts">
	<div class="contacts__info">
		<h2>Контакты</h2>
		<a class="contacts__info_item tel" href="tel:+78979410490">+7 (897) 941-04-90</a>
		<a class="contacts__info_item address" href="https://go.2gis.com/imm6d" target="_blank">
			г. Самара, Щигровский&nbsp;переулок, д.2</a>
		<span class="contacts__info_item mode">Ежедневно с 8 до 21</span>
		<a class="contacts__info_item mail" href="mailto:nord111vest@yndex.ru">nord111vest@yndex.ru</a>
		<button class="btn-line js-popup" data-btn="call">Заказать звонок</button>
		@@include('../../02-components/social/main.html',{})
	</div>
	@@include('../../02-components/map/main.html',{})
</section>