<!-- @@include('../social/main.html',{}) -->

<section class="contacts">
	<div class="contacts__container">
		<div class="contacts__info">
			<h2>Как до нас добраться</h2>
			<div class="contacts__info_content">
				<ul>
					<li>Чкаловская – 700 м</li>
					<li>Спортивная – 1700 м</li>
					<li>Петроградская – 2100 м</li>
				</ul>
			</div>

			<div class="contacts__info_content">
				<p>Автобус №14, <br> маршрут по&nbsp;ул.Корпусная, остановка «Малая Зеленина»</p>
			</div>
			<div class="contacts__info_content">
				<p>Вблизи 3 бесплатные парковки по&nbsp;ул.Корпусная, и&nbsp;круглосуточная автостоянка</p>
			</div>
		</div>
		@@include('../../02-components/map/main.html',{})
	</div>
</section>