<!-- @@include('../social/main.html',{}) -->

<section class="contacts">
	<div class="contacts__container">
		<div class="contacts__info">
			<h2>Как до нас добраться</h2>
			<ul>
				<li>Чкаловская – 700 м</li>
				<li>Спортивная – 1700 м</li>
				<li>Петроградская – 2100 м</li>
			</ul>
			<p>Автобус №14, <br> маршрут по ул.Корпусная, остановка «Малая Зеленина»</p>
			<p>Вблизи 3 бесплатные парковки по ул.Корпусная, и круглосуточная автостоянка</p>
		</div>
		<div class="contacts__map">
			<div class="contacts__map-address d-hide">
				<span data-type-geo="Центр “Белая орхидея”:" data-addr="ул. Якова Эшпая, 156Б, Йошкар-Ола, Россия"
					data-geo="56.63702130651376, 47.87989909510363" data-2gis="https://go.2gis.com/lu2w6"></span>
			</div>
			<div class="map" id="map"></div>
		</div>
	</div>
</section>