<script src="assets/js/jquery-3.6.1.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="assets/js/maskeinput.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<!-- <script src="assets/js/jquery.touchSwipe.min.js"></script> -->

<!-- <script src="assets/js/slider.js"></script> -->
<!-- <script src="assets/js/dropzone.js"></script> -->
<!-- <script src="assets/js/check-input.js"></script> -->

<script src="assets/js/ymaps.js"></script>

<script src="assets/js/scripts.js" data-dir="" id="main-js"></script>

<script src="assets/js/my.js"></script>
</body>

</html>