<form method="POST" class="form">
	<div class='form__field'>
		<input type='text' name='name' placeholder='Имя'>
	</div>

	<div class='form__field'>
		<input type='tel' name='tel' placeholder='Телефон*'>
	</div>
	<div class='form__field'>
		<input type="email" name="email" placeholder='E-mail'>
	</div>
	<div class="form__hidden">
		<input type='hidden' name='check' value="goawaybot">
		<input type="hidden" name="title" value="Нужен грузовой подъёмник?">
	</div>
	<button class="btn" type="submit">@@btn</button>
	<span class="checkbox">
		Нажимая на кнопку, вы даёте согласие на обработку
		<a href="https://test.sandrahometextile.ru/privacy/" target="_blank">
			персональных данных
		</a>
	</span>

</form>