<section class="feedback">
    <div class="feedback__container">
        <div class="feedback__wrapper">
            <h2>Нужен <span>грузовой подъёмник?</span></h2>
            <p class="subtitle">Свяжитесь с нами или закажите обратный звонок — мы поможем. <br>
                Выслушаем ваши задачи и на основе их предложим варианты грузоподъемного оборудования</p>
            @@include('../../02-components/form/main.html', {
            "btn":"Заказать звонок",
            })
        </div>
    </div>
</section>