<footer class="footer">
	<div class="top__container">

		<div class="footer__items">
			<div class="footer__item">
				<h3>Стоматология</h3>
				<div class="footer__links">
					<div class="footer__link"><a href="https://dental.yolastudio.ru/implantacziya-zubov/">Имплантация
							зубов</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/protezirovanie/">Протезирование</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/lechenie-zubov/">Лечение зубов</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/koronki-na-zuby/">Коронки на
							зубы</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/brekety/">Брекеты</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/viniry/">Виниры</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/chistka-zubov/">Чистка зубов</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/diagnostika/">Диагностика</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/lechenie-desen/">Лечение десен</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/udalenie-zubov/">Удаление зубов</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/detskaya-stomatologiya/">Детская
							стоматология</a></div>
				</div>
			</div>
			<div class="footer__item">
				<h3>Косметология</h3>
				<div class="footer__links">
					<div class="footer__link"><a
							href="https://dental.yolastudio.ru/apparatnaya-kosmetologiya/">Аппаратная
							косметология</a></div>
					<div class="footer__link"><a
							href="https://dental.yolastudio.ru/inekczionnaya-kosmetologiya/">Инъекционная
							косметология</a></div>
					<div class="footer__link"><a
							href="https://dental.yolastudio.ru/terapevticheskaya-kosmetologiya/">Терапевтическая
							косметология</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/lazernaya-kosmetologiya/">Лазерная
							косметология</a></div>
				</div>
			</div>
			<div class="footer__item">
				<h3>SPA процедуры</h3>
				<div class="footer__links">
					<div class="footer__link"><a href="https://dental.yolastudio.ru/spa-programmy/">SPA программы</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/spa-massazh/">SPA массаж</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/lechebnyj-massazh/">Лечебный
							массаж</a>
					</div>
				</div>
			</div>
			<div class="footer__item">
				<h3>Клиентам</h3>
				<div class="footer__links">
					<div class="footer__link"><a href="https://dental.yolastudio.ru/about/">О нас</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/doctors/">Врачи</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/price/">Цены</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/gallery/">Фотогалерея</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/sale/">Акции</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/contacts/">Контакты</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/documents/">Документы</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/certificates/">Подарочный
							сертификат</a>
					</div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/vacancy/">Вакансии</a></div>
					<div class="footer__link"><a href="https://dental.yolastudio.ru/lechenie-po-dms/">Лечение по ДМС</a>
					</div>
				</div>
			</div>
		</div>


	</div>
	<span class="line"></span>
	<div class="bottom__container">
		@@include('../../02-components/logo/main.html',{})
		@@include('../../02-components/privacy-policy/main.html',{})
		@@include('../../02-components/weblitex/main.html',{})
	</div>
</footer>