<div class="sorting">
	<form class="" method="get">
		<select id="select" name="orderby" class="orderby" aria-label="Заказ в магазине">
			<option value="1" selected="selected">по популярности</option>
			<option value="2">по возрастанию цены</option>
			<option value="3">по убыванию цены</option>
		</select>
		<input type="hidden" name="paged" value="1">
	</form>
	<div class="select-css select-orderby-js">Выбрать специалиста</div>
	<div class="select-input">
		<span data-for="1" class="selected">Не выбирать</span>
		<span data-for="2">Белов Юрий Евгеньевич</span>
		<span data-for="3">Милкова Людмила Вячеславовна</span>
	</div>
</div>