<nav class="pagination">
    <span class="prev disabled page-numbers slider-prev"></span>
    <!-- <span class="prev"></span> -->
    <span class="page-numbers current">1</span>
    <a class="page-numbers" href="#">2</a>
    <a class="page-numbers" href="#">3</a>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="#">5</a>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="#">7</a>
    <a class="page-numbers" href="#">8</a>
    <a class="page-numbers" href="#">9</a>
    <a class="next page-numbers slider-next" href="#"></a>
</nav>